body {
    font-family: sans-serif;
    background: #87CEEB;
    margin: none;
    text-align: center;
}

#menu {
    text-decoration: underline;
    color: blue;
}

#menu_paragraph {
    color: purple;
    width: 50%;
    height: 200px;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
