body {
    background-color: rgb(240, 248, 255);
    margin: 3px;
    text-align: center;
    font-family: sans-serif;
}

.policy-container {
    width: 75%;
    margin: 40px auto;
    padding: 30px;

    background-color: white;
    border: 2px solid rgb(5, 10, 35);
    border-radius: 15px;

    box-shadow: 0 4px 15px rgba(5, 10, 35, 0.15);
}

.policies {
    color: rgb(5, 10, 35);
}
