body {
    background-color: rgb(240, 248, 255);
    margin: 0;
    padding: 40px 20px;
    font-family: sans-serif;
    color: rgb(5, 10, 35);
}

.terms-container {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;

    background-color: white;
    border: none;
    border-radius: 50px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

h1 {
    text-align: center;
}

p,
li {
    line-height: 1.6;
}